<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6" id="about">
                <h6>About</h6>
                <p class="text-justify">Lorem Ipsum <i>lorem ipsum dolor </i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi, aperiam assumenda autem debitis deleniti, doloremque eos fugiat hic numquam odio odit perspiciatis quas quisquam similique soluta, voluptatem. Aspernatur ipsa iure nemo nobis odit quae, soluta voluptates! Amet ducimus eius exercitationem, expedita laboriosam nostrum omnis porro qui ratione ullam? Voluptas?.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Blog categories</h6>
                <ul class="footer-links">
                    {% for blog in blogs %}
                        <li class="menu-item"><a class="menu-item-link" href="">{{ blog.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#contribute">Contribute</a></li>
                    <li><a href="#privacy-policy">Privacy Policy</a></li>
                    <li><a href="#sitemap">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>