<form id="create-blog" class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
	{% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts" id="alerts-blog-create">
    </div>
	<div class="form-group has-feedback">
		<label>Blog Title</label>
		<input type="text" class="form-control" name="blog_name" id="blog_name">
	</div>
	<div class="form-group has-feedback">
		<label>Blog Slug</label>
		<input type="text" class="form-control" name="blog_slug" id="blog_slug">
	</div>
	<div class="form-group has-feedback">
		<label>Read Permission</label>
		<input type="text" name="read_permission" id="read_permission" class="form-control" readonly />
	</div>
	<div class="form-group has-feedback">
		<label>Write Permission</label>
		<input type="text" name="write_permission" id="write_permission" class="form-control" readonly />
	</div>
	<button class="btn btn-primary">{{form.submit}}</button>
</form>