{% extends '@admin/navigation/sidebar-menu.html.twig' %}

{% block navigation %}
    {{ parent() }}
    <li>
        <a href="/blogs"><i class="fa fa-rss-square fa-fw"></i> <span>Blogs</span></a>
    </li>
{% endblock %}