<nav class="nav-sections">
    <ul class="menu">
        <li class="menu-item"><a class="menu-item-link active" href="#">Blog</a></li> {#  //TODO adding a link to home#}
        <li class="menu-item"><a class="menu-item-link" href="{{site.uri.public}}">Home</a></li> {#  //TODO adding a link to home#}
        <li class="menu-item"><a class="menu-item-link" href="#link1">Link 1</a></li>
        <li class="menu-item"><a class="menu-item-link" href="#link2">Link 2</a></li>
        <li class="menu-item"><a class="menu-item-link" href="#about">About</a></li>
        <li class="menu-item"><a class="menu-item-link" href="#contact">Contact Us</a></li>
        <div class="active-line"></div>
    </ul>
</nav>